<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        .photo {
            height: 60px; width: 60px;
        }

    </style>

</head>
<body>


<br><br>

    <div id="app" class="container-fluid">



        <!--I&nbsp;D :<input type="text" v-model="emp.pid"><br>-->
        NAME : <input type="text"  v-model="product.pname"><br>
        Price : <input type="text"  v-model="product.price"><br>
        DESC : <input type="text"  v-model="product.description"><br>
        <!--IMGS : <input type="text"  v-model="product.imgs"><br><br>-->

        <input class="btn btn-primary" value="add" @click="addProduct">

        <hr>

        <table class="table table-bordered table-hover">

            <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>DESC</td>
                <td>IMG</td>
                <td>Control</td>
            </tr>

            <tr v-for="data in products">
                <td>{{data.pid}}</td>
                <td>{{data.pname}}</td>
                <td>{{data.description}}</td>
                <td><img class="photo" :src="data.imgs"></td>
                <td><input @click="removeProduct(data)" type="button" value="remove" class="btn btn-danger"></td>
            </tr>



        </table>


    </div>

</body>
</html>

<script src="../../node_modules/vue/dist/vue.js"></script>
<script src="../../node_modules/vue-resource/dist/vue-resource.js"></script>

<script>

    var vm = new Vue({

        el : "#app" ,
        data : {
           products : [] ,

           product : {"pid" : 0 , "pname" : "" , "price" : 0 ,  "description" : " " , "imgs" : ""}
        } ,
        mounted : function() {   //onload
            this.$nextTick(function () {    //vue-2.x
                this.init();
            })
        },

        methods : {

            init : function() {

                var _this = this;

                this.$http.get("http://localhost:8088/mvc01/product").then(function(res){
                    _this.products = res.data;
                })
            },

            addProduct : function() {
                var _this = this;

                this.$http.post("http://localhost:8088/mvc01/product" , this.product , {emulateJSON : true} ).then(function(res){

                   _this.products.push(res.data);
                   _this.product = {"pid" : 0 , "pname" : "" , "price" : 0 ,  "description" : " " , "imgs" : ""};
                })
            },
            removeProduct : function(data){

                if(confirm("确定要删除 ? ")) {
                    var _this = this;
                    this.$http.delete("http://localhost:8088/mvc01/product/"+data.pid).then(function(res) {
                        if(res.data>0) {
                            var index = _this.products.indexOf(data);
                            _this.products.splice(index , 1);
                        }
                    })
                } else {
                    return;
                }




            }


        }


    })

</script>

